127.0.0.1       localhost
127.0.1.1       {{ ansible_hostname }}
10.0.0.10       centos-master
10.0.0.11       centos-minion-1
10.0.0.12       centos-minion-2
10.0.0.21       centos-etcd-1
10.0.0.22       centos-etcd-2
10.0.0.23       centos-etcd-3