---

- hosts: squid
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - squid

- hosts: etcd master nodes
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - common

- hosts: etcd
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - etcd

- hosts: master
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - kube_common
    - kube_master
    # - calico

- hosts: nodes
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - kube_common
    - kube_node
